/* Apply a reset to all elements within our CSS scope */
.opsin-safari-extension,
.opsin-safari-extension * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.5;
    text-decoration: none;
    font-size: 16px;
    list-style: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #888;
    background: transparent;
    float: none;
}

/* Main dialog div */
.opsin-safari-extension {
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, 0.3);
    box-shadow: 0 1px 4px rgba(100, 100, 100, 0.4);
    z-index: 5000;
    width: 175px;
    border-radius: 2px;
}


/* Title text */
.opsin-safari-extension div.opsse-title {
    -webkit-user-select: none;
    background-color: #fdfdfd;
    background-repeat: no-repeat;
    background-position: 14px 7px;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 7px 0 4px;
    border-bottom: 1px solid #eee;
}

.opsin-safari-extension button {
    font-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arial, "Lucida Grande", sans-serif;
    color: rgb(0, 174, 239);
    -webkit-appearance: none;
    -webkit-user-select: none;
}

/* Close button */
.opsin-safari-extension button.opsse-close {
    -webkit-user-select: none;
    position: absolute;
    top: 10px;
    right: 12px;
    width: 18px;
    height: 18px;
    font-size: 20px;
    line-height: 13px;
    color: #999;
    z-index: 5001;
    padding-bottom: 2px;
}

.opsin-safari-extension button.opsse-close:hover,
.opsin-safari-extension button.opsse-arrow:hover  {
    color: #777;
    cursor: pointer;
}

.opsin-safari-extension button.opsse-save {
    margin: 10px 3px 5px;
    font-size: 13px;
    border-radius: 3px;
    background-color: #f0f0f0;
    padding: 1px 8px;
}

.opsin-safari-extension button.opsse-save:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(0, 174, 239);
    padding: 1px 8px;
}

/* No results text */
.opsin-safari-extension div.opsse-noresults {
    -webkit-user-select: none;
    margin: 120px auto 80px;
    text-align: center;
}

/* Mol container div */
.opsin-safari-extension div.opsse-mol {
	margin-top: 40px;
    display: inline-block;
	width: 175px;
	text-align: center;
}

/* Main molecule image */
.opsin-safari-extension div.opsse-mol img {
	padding-left: 5px;
	width: 165px;
	display: block;
}
