<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Matt Swain</string>
	<key>Builder Version</key>
	<string>9537.74.9</string>
	<key>CFBundleDisplayName</key>
	<string>OPSIN Search</string>
	<key>CFBundleIdentifier</key>
	<string>com.matt-swain.opsin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.02</string>
	<key>CFBundleVersion</key>
	<string>1.02</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>opsin</string>
				<key>Identifier</key>
				<string>opsin</string>
				<key>Title</key>
				<string>Refresh to use OPSIN search</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/jquery-2.0.3.min.js</string>
				<string>js/injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Uses OPSIN to display the structure of the selected chemical and download SMILES, InChI and CML.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://assets.matt-swain.com/extensions/opsin.plist</string>
	<key>Website</key>
	<string>http://matt-swain.com/extensions</string>
</dict>
</plist>
